body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

    background: linear-gradient(
        135deg,
        #0f172a,
        #111827,
        #1e293b
    );

    min-height: 100vh;

    color: white;
}

.card-dark {
    background: rgba(255, 255, 255, 0.08);

    backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.1);

    border-radius: 20px;

    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.3);

    color: white;
}

.auth-container {
    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;
}

.auth-card {
    width: 100%;
    max-width: 450px;

    padding: 40px;
}

.form-control {
    background: rgba(255, 255, 255, 0.08) !important;

    border: none !important;

    color: white !important;

    padding: 12px !important;

    border-radius: 12px !important;
}

.form-control::placeholder {
    color: #cbd5e1 !important;
}

.form-control:focus {
    box-shadow: 0 0 10px #3b82f6 !important;
}

.btn-modern {
    border: none;

    border-radius: 12px;

    padding: 12px;

    font-weight: 600;

    transition: 0.3s ease;
}

.btn-modern:hover {
    transform: translateY(-2px);

    opacity: 0.9;
}

.dashboard-container {
    padding: 40px;
}

.task-card {
    transition: 0.3s ease;
}

.task-card:hover {
    transform: translateY(-5px);
}

.navbar-dark-custom {
    background: rgba(255, 255, 255, 0.08);

    backdrop-filter: blur(10px);

    border-bottom:
        1px solid rgba(255, 255, 255, 0.1);
}

.link-light {
    color: #60a5fa;
    text-decoration: none;
}

.link-light:hover {
    color: #93c5fd;
}